<h1>Ajouter un transfert</h1>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="gender" nzRequired>Type du transfert </nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Selectionnez un type !" style="padding-left:10px;">
        <nz-select
          id="gender"
          formControlName="type"
          nzPlaceHolder="Selectionner le type du transfert national"
          (ngModelChange)="genderChange($event)"
        >
          <nz-option nzValue="Par débit de compte" nzLabel="Par débit de compte"></nz-option>
          <nz-option nzValue="En espèce" nzLabel="En espèce"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="otp">Le client</nz-form-label>
      <nz-form-control style="margin-left:10px" [nzSpan]="12" nzErrorTip="L'OTP est invalid!">
        <input nz-input formControlName="otp" id="otp" />
      </nz-form-control>
         <button style="margin-left:10px"  nz-button nzType="primary" (click)="createComponentModal()">
          <span>Ajouter le client</span>
        </button>
    </nz-form-item>
 
    <nz-form-item >
        <nz-form-label [nzSpan]="5" nzRequired nzFor="email">Montant du transfert:</nz-form-label>
        <nz-form-control style="padding-left:12px;" [nzSpan]="12"  nzErrorTip="Montant du transfert > Plafond Maximal du transfert!">
            <nz-input-group nzSuffix="Dirhams" nzPrefix="DH">
            <input nz-input formControlName="montant" id="email" />
        </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <label style="padding-left:160px;padding-bottom: 20px;" nz-checkbox >Notifier le bénéficiaire par SMS</label><br>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="gender" nzRequired>Type des frais </nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Selectionnez le type des frais !" style="padding-left:10px;">
          <nz-select
            id="typeFrais"
            formControlName="typeFrais"
            nzPlaceHolder="Selectionner le type des frais"
            (ngModelChange)="genderChange($event)"
          >
            <nz-option nzValue="A la charge du client donneur d'ordre" nzLabel="A la charge du client donneur d'ordre"></nz-option>
            <nz-option nzValue="A la charge du client bénéficiaire" nzLabel="A la charge du client bénéficiaire"></nz-option>
            <nz-option nzValue="Partagés entre les clients" nzLabel="Partagés entre les clients"></nz-option>

        </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item >
        <nz-form-label [nzSpan]="5" nzRequired nzFor="email">Le béneficiaire</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Selectionnez le type des frais !" style="padding-left:10px;">
          <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          placeholder='Chercher le bénéficiaire'
          nz-input
          (ngModelChange)="onChange($event)"
          [nzAutocomplete]="auto"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
        <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
        
             </nz-form-control>
             <button (click)="openCreateBenefComponent()" nz-button style="margin-left:10px" nzType="primary"> <i nz-icon nzType="plus"></i></button>

            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSpan]="5" nzRequired nzFor="otp">Saisir l'OTP</nz-form-label>
              <nz-form-control style="margin-left:10px" [nzSpan]="12" nzErrorTip="L'OTP est invalid!">
                <input nz-input formControlName="otp" id="otp" />
              </nz-form-control>
            </nz-form-item>
      <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="5">
        <button nz-button nzType="primary">Valider</button>
      </nz-form-control>
    </nz-form-item>
    
  </form>
